@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Tenor+Sans&display=swap');

:root{
    --one: #EDEDEE;
    --two: #333333;
    --three: #E6621F;
    --four: #fff; 
    --five: #000;
    --six: orange;
}

body{
    background-color: var(--one) 

}

.title h1{
    display: flex;
    justify-content: center;
    font-size: 30px;    
}

.title p{
    color: var(--three);
    display: flex;
    justify-content: center;
    font-size: 20px;
}

section{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container{
    display: flex;
    justify-content: space-evenly;    
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
}

.item img{
    width: 300px;
    height: 200px;
}

.items img{
    width: 300px;
    height: 200px;
}

.container h2{
    display: flex;
    justify-content: center;
}

.container p{
    display: flex;
    text-align: justify;
}

.item p{
    width: 300px;
}

.items p{
    width: 300px;
}

.container button{
    color: var(--three);
    border: 2px solid var(--three);
    width: 85px;
    height: 40px;
}

.item:hover{
    border: 2px solid var(--three);
}

.items:hover{
    color: var(--room-color);
    background-color: #E6621F;
    color: var(--four);
}

.btn{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.container button:hover{
    color: var(--four);
    background-color: var(--six);
    border: solid var(--five);
    width: 85px;
    height: 40px;
}